.--profileImage{
	width: 13%;
	height: 13%;
}
.featured_slider{
   text-align: center;
}
.image{
	margin-top: 95px;
}
.friends{
	height: auto;
	max-height: 400px;
	overflow-x: auto;
	
}
.request{
	display: inline-block;
    margin-top: 14px
}

.imageProfile{
	width: 175px;
    height: 175px;	
    margin: auto;
    position: relative;
    bottom: 175px;
    opacity: 0;
}
.profileForm{
	height: 0
}

#navbar{
	width: 820px
}
.search{
	    margin-top: 7px;
	    margin-right: 50px

}
.search input{
	width: 200px
}
.request1{
    width: 323px;
    height: auto;
    max-height: 136px;
    overflow-x: auto;
    /* opacity: 1; */
    position: fixed;
    /*bottom: 76px;*/
    top: 55px;
    right: 97px;
    z-index: 10000;
}

.request2{
    width: 306px; 
    border: 1px solid;
    margin-top: 13px;
    padding-top: 8px;
}

.avelacnel{
    position: relative;
    right: 11px;
    bottom: 2px;
    border: none;
    background: #12a3df;
    color: #fff;
}
.jnjel{
    position: relative;
    bottom: 2px;
    border: none;
    background: #FF000E;
    color: #fff;
}


.search1{
    width: 323px;
    height: auto;
    max-height: 136px;
    overflow-x: auto;
    position: fixed;
    top: 55px;
    right: 97px;
    z-index: 10000;
}

.search2{
    width: 306px; 
    border: 1px solid;
    margin-top: 13px;
    padding-top: 8px;
}

.sign-up-htm{
	    padding-left: 50px;
}


.updatepassword{
	position: relative;
    left: 392px;
    bottom: 226px;
}

.but_pas{
	position: relative;
    top: 18px;
    border: none;
    color: #fff;
    background: #12a3df;
}

.update{
    border: none;
    color: #fff;
    background: #12a3df;
}

.delete{
    border: none;
    color: #fff;
    background: #FF000E;
}

.namak{
    width: 272px;
    height: 318px;
    background: red;
    position: fixed;
    top: 330px;
    right: 333px;
    ! important
}

.tiv{
    padding-left: 10px;
}
.status{
    border: 1px solid #84676769;
    width: 600px;
    height: 182px;
    margin: 11px auto;
    background-color: #f5f6f7;
    box-sizing: border-box;
    border-radius: 3px;
}
.great{
    border: 1px solid #84676769;
    width: 600px;
    height: 30px;
    margin-left: -1px;
    margin-top: -1px;
    /* margin: -1px auto; */
    padding-left: 12px;
    padding-top: 4px;
    background-color: #f5f6f7;
    box-sizing: border-box;
    border-radius: 3px;
}

.status_text {
    resize: none;
    width: 600px;
    height: 66px;
    margin-left: -1px;
    margin-top: 10px;
}

.status_avelacnel{
    height: 26px;
    width: 563px;
    margin-left: 17px;
    border: none;
    border-radius: 4px;
    background: #12A3df;
    color: white;
    margin-top: 15px;
}

.imagestat{
    margin-left: 8px;
    color: #f5f6f7;

}


.clas_status {
    width: 104px;
    height: 31px;
    margin: 5px;    
    display: inline-block;
    border: 1px solid #12a3df;
    border-radius: 9px;
    font-size: 18px;
    padding-top: 2px;
    padding-left: 11px;
}

.chhavanel{
    background: #384eb3;
    color: white;
}

.havanel{
    background: #24d9ff;
    color: white;
}



.type_ms {
    border-top: 1px solid #c4c4c4;
    position: relative;
}


.input_msg_writ input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}
.msg_send_bt {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}


.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 70%;
}
.incoming_msg_img {
  display: inline-block;
  width: 4%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 70%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.comment_find{
    width: 510px;
    max-height: 152px;
    overflow-y: auto;
}

